.bold{
    font-weight: bold;
}
.alert-function{
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    transform: translate(50%,50%);
    -webkit-box-shadow: -6px 8px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -6px 8px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -6px 8px 5px 0px rgba(50, 50, 50, 0.75);
}
button{
    background: #5A91CB;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    float: right;
    text-transform: uppercase;
}
